@import "tailwindcss";
/*  ---break--- */
@custom-variant dark (&:is(.dark *));

@plugin 'tailwindcss-animate';

:root {
  --background: oklch(93.08% 0.0125 91.52);
  --foreground: oklch(26.74% 0.0163 58.86);
  --card: oklch(97.61% 0.0041 91.45);
  --card-foreground: oklch(26.74% 0.0163 58.86);
  --popover: oklch(97.61% 0.0041 91.45);
  --popover-foreground: oklch(26.74% 0.0163 58.86);
  --primary: oklch(26.74% 0.0163 58.86);
  --primary-foreground: oklch(97.61% 0.0041 91.45);
  --secondary: oklch(65.34% 0.1305 101.63);
  --secondary-foreground: oklch(31.19% 0.0534 88.16);
  --muted: oklch(97.61% 0.0041 91.45);
  --muted-foreground: oklch(26.74% 0.0163 58.86);
  --accent: oklch(92.96% 0.0185 184.25);
  --accent-foreground: oklch(42.16% 0.0426 193.43);
  --expert: oklch(49.7% 0.0664 232.48);
  --expert-foreground: oklch(97.44% 0.0079 216.62);
  --proficient: oklch(57.58% 0.071 179.25);
  --proficient-foreground: oklch(97.81% 0.0055 183.03);
  --destructive: oklch(58.47% 0.1349 33.21);
  --destructive-foreground: oklch(97.53% 0.0076 27.23);
  --border: oklch(97.61% 0.0041 91.45);
  --input: oklch(93.08% 0.0125 91.52);
  --ring: oklch(75.08% 0.0553 187.15);

  --resistant: oklch(75.25% 0.1435 55.42);
  --immune: oklch(70.96% 0.1155 164.77);

  --radius: 0.625rem;
  --spacing: 4px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-expert: var(--expert);
  --color-expert-foreground: var(--expert-foreground);
  --color-proficient: var(--proficient);
  --color-proficient-foreground: var(--proficient-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-resistant: var(--resistant);
  --color-immune: var(--immune);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-nippo: var(--font-nippo), "sans-serif";
}
@theme {
  --color-aberration: #dd83fd;
  --color-beast: #a98dba;
  --color-celestial: #f7e64a;
  --color-construct: #f1c67c;
  --color-dragon: #dd5d63;
  --color-elemental: #1ddcf3;
  --color-fey: #61f4cb;
  --color-fiend: #eb7648;
  --color-giant: #afbec1;
  --color-humanoid: #95b974;
  --color-monstrosity: #7597ec;
  --color-ooze: #bef0f5;
  --color-plant: #64bc5e;
  --color-undead: #c77e5d;
  --color-other: #efefef;

  --animate-move: move 2s ease-in-out infinite;
  @keyframes move {
    0%,
    100% {
      transform: translateY(-3%);
    }
    50% {
      transform: rotate(2deg);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h3 {
    @apply text-xl font-bold leading-2;
  }
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
